.warband_member_view {
  break-inside: avoid;
  font-size: 1.25rem;

  .character_grid {
    border: 2px solid $dark;
    display: grid;
    grid-template-areas:
      "header header"
      "class-label class-value"
      "ap-label ap-value"
      "move-label move-value"
      "brave-label brave-value"
      "hp-label hp-value";

    @include media-breakpoint-up(md) {
      grid-template-areas:
        "header header header header header"
        "class-label ap-label move-label brave-label hp-label"
        "class-value ap-value move-value brave-value hp-value";
    }

    &-header {
      grid-area: header;
    }
    &-class {
      &-label {
        grid-area: class-label;
      }
      &-value {
        grid-area: class-value;
      }
    }
    &-ap {
      &-label {
        grid-area: ap-label;
      }
      &-value {
        grid-area: ap-value;
      }
    }
    &-move {
      &-label {
        grid-area: move-label;
      }
      &-value {
        grid-area: move-value;
      }
    }
    &-brave {
      &-label {
        grid-area: brave-label;
      }
      &-value {
        grid-area: brave-value;
      }
    }
    &-hp {
      &-label {
        grid-area: hp-label;
      }
      &-value {
        grid-area: hp-value;
      }
    }

    &-stat {
      &-label {
        border: 2px solid $dark;
      }
      &-value {
        border: 2px solid $dark;
      }
    }
  }

  .rec-base-size {

    .base {
      display: inline;
    }

    @include media-breakpoint-up(md) {
      float:right;
      margin-left: 2rem;
      margin-bottom: 2rem;

      .base {
        margin: 1rem auto 0 auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 4px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .list-inline-item::after {
    content:', ';
  }
  .list-inline-item:last-child::after {
    content: none;
  }

}

