@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "Vecna";
  src: url("../fonts/vecna/Vecna.otf") format("opentype");
}
@font-face {
  font-family: "Vecna";
  font-weight: bold;
  src: url("../fonts/vecna/Vecna Bold.otf") format("opentype");
}
@font-face {
  font-family: "Vecna";
  src: url("../fonts/vecna/Vecna Italic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "Vecna";
  font-weight: bold;
  src: url("../fonts/vecna/Vecna Bold Italic.otf") format("opentype");
  font-style: italic;
}
